<h1>Image list</h1>
<% if flash[:error] %>
  <div class="error"><%= flash[:error] %></div>
<% end %>
<% @images.each do |image| %>
  <div>
    <%= image_tag(image.url, class: 'display_image') %>
    <% if image.tag_list.present? %>
      <p class="image_tags">
        Tags:<% image.tag_list.each do |tag| %>
          <a href=<%= images_path(filter: tag) %>><%= tag %></a>
        <% end %>
      </p>
    <% end %>
  </div>
<% end %>
