<h1>showing image</h1>

<% if @image.present? %>
  <%= image_tag(@image.url, class: 'display_image') %>
    <% if @image.tag_list.present? %>
        <p class="image_tags"> Tags: <%= @image.tag_list %></p>
    <% end %>
<% end %>

<% if flash[:error] %>
  <div class="error"><%= flash[:error] %></div>
<% end %>
